<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/mercato_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mercato_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.PersonalInfo"
        tools:targetApi="31">

        <activity
            android:name=".view_more"
            android:exported="false" />
        <activity
            android:name=".show_card4"
            android:exported="false" />
        <activity
            android:name=".show_card3"
            android:exported="false" />
        <activity
            android:name=".show_card2"
            android:exported="false" />
        <activity
            android:name=".show_card1"
            android:exported="false" />
        <activity
            android:name=".Drawer_Navigation"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>